
body {
    margin: 0;
    font-family: "Lato", sans-serif;
   
  }
  
    /*------------------- menu--------------------------------------*/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #DBAB0D;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:#04AA6D;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .logo_bar{
    text-align: center;
    padding: 50px 0 ;
  }



 
  /*------------------- capa ODS--------------------------------------*/
  
.home{
    display: flex;
    background:url(imagens/ODS-circle.png) no-repeat right ;
    background-size: 50% ;
    height: 100vh;
    min-height: 500px;
    font-family: 'ubuntu', sans-serif;
  }
  
  .home .max-width{
    margin: auto 0 auto 40px;
  }
  
  .home-content{
    margin-top: 65px;
  }
  
  .home .home-content .text-1{
    font-size: 47px;
    color: black;
  }
  
  .home .home-content .text-2{
    font-size: 35px;
    font-weight: 100;
    margin-left: -3px;
    color: black;
  }
  
  .home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
    color:black;
  }
  
  .home .home-content .text-3 span{
    color:#DD1C1A;
    font-weight: 500 ;
  }
  
  .home .home-content a{
    display: inline-block;
    background: #FED001;
    color:black;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  #13293D;
  }
  
  .home .home-content a:hover{
    color: black ;
    background: none;
  
  }
  
  .home .logo {
    margin-left: -3px;
    padding: 10px;
    
  }

  /*------------------- Geral--------------------------------------*/

  .projetos-content, 
  .contato-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  


  /*------------------- section projetos --------------------------------------*/

  /* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.main{
  max-width: 900px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 50px 0 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #054f77 40%, #054f77 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}





  /*-------------------- responsavidade--------------------------------------*/
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

   
    
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

    
    .home .home-content.text-1{
      font-size: 15px;
           
    }
      
     .home .home-content.text-2{
        font-size: 25px;
        text-align: center;
        
      }
      
      .home .logo {

        text-align: center;
        
      }
    
      
  }

   /*------------------- section noticias --------------------------------------*/




















